.navbar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  justify-content: space-evenly;
}


.SE-logo {
  max-width: 35%;
  overflow: hidden;
  object-fit: contain;
}
.navbar-links {
  display: flex;
  align-items: center;
  padding: 0%;
  list-style-type: none;
  
 
  
}
.navbar-links-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 3vw;

}

.navbar-links-item:focus {
  text-decoration: underline;
}

@media screen and (min-width: 620px) {
  .navbar-links-item {
    font-size: 18px;
    padding: 0 8vw 0 30px;
    width: 150px;
  }
  .SE-logo {
    width: 247px;
    height: auto;
  }
}
.facebook-button {
  width: 80%;
}
